.image-wrapper:before,
.image-wrapper:after,
img:before,
img:after {
  content: "";
  display: table;
}

.image-wrapper:after,
img:after {
  clear: both;
}

html {
  width: 100%;
}

body {
  margin: 0 auto;
  padding-top: 20px;
  width: 60%;
  background: #ebfafa;
  background: -webkit-linear-gradient(left top, #ebfafa, #809fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ebfafa, #809fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ebfafa, #809fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ebfafa, #809fff); /* Standard syntax */
}

h1, h2, h3, h4 {
  text-align: center;
}

h3, h4 {
  font-family: 'Montserrat', Arial, sans-serif;
  color: black;
}

h1 {
  font-size: 50px;
  padding: 10px 0;
  font-family: 'Pangolin', cursive;
  color: #333D44;

}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

p {
  font-size: 18px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.4em;
  width: 90%;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: light;
}

.image-wrapper {
  text-align: center;
  margin: 0 auto;
}

img {
  display: inline-block;
  width: 300px;
  margin: 40px auto 20px;
  overflow: hidden;
}

#img1 {
  margin-right: 40px;
}

.instruction-overview {
  border: 5px solid #3366ff;
  padding: 15px 30px;
}

li {
  font-family: 'Indie Flower', cursive;
  list-style-type: none;
  font-size: 16px;
  line-height: 28px;
}

.bonus-section {
  width: 100%;
  text-align: center;
}

iframe {
  margin-top: 30px;
  width: 400px;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
