/**:before,
*:after {
  content: "";
  display: table;
}

*:after {
  clear: both;
}*/

html {
  width: 100%;
}

body {
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  font-size: 30px;
  padding: 10px 0;
}

p {
  text-align: justify;
  width: 50%;
}

li {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
