.image-wrapper:before,
.image-wrapper:after,
img:before,
img:after {
  content: "";
  display: table;
}

.image-wrapper:after,
img:after {
  clear: both;
}

html {
  width: 100%;
  cursor: default;
}

body {
  margin: 0 auto;
  padding-top: 40px;
  width: 60%;
  background: #ebfafa;
  background: -webkit-linear-gradient(left top, #ebfafa, #809fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ebfafa, #809fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ebfafa, #809fff); /* For Firefox 3.6 to 15 */
  /*COMMENT OUT FIRST COLOR- need to use standard syntax for it to look right*/
  /*background: linear-gradient(to bottom right, ***#ebfafa, #809fff); /* Standard syntax */*/
}

/*REMOVE H4 AND H5 AND PUT INTO SEPARATE SECTION- these should be all grouped together*/
/*h1, h2, h3, ***h4, h5 {*/
  text-align: center;
}

h1, h2 {
  /*REMOVE QUOTES AROUND PANGOLIN- this should have quotes*/
  /*font-family: ***'Pangolin', cursive;*/
  color: #333D44;
}

h1 {
  font-size: 55px;
  line-height: 30px;
}

h2 {
  font-size: 50px;
  line-height: 30px;
}

h3, h4 {
  font-family: 'Montserrat', Arial, sans-serif;
  color: black;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 18px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5em;
  width: 90%;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: light;
}

.bold {
  font-weight: bold;
}

.underline {
  /*REMOVE TEXT-DECORATION AND ONLY SAY UNDERLINE- need to use this property*/
  /****text-decoration: underline;*/
}

/*CHANGE . to # - need to use correct selector type*/
/****.uppercase {*/
  text-transform: uppercase;
}

/*REMOVE a:, only have hover- need to add selector */
/***a:hover {*/
  color: #1D6C9C;
  cursor: pointer;
}

.image-wrapper {
  text-align: center;
  margin: 0 auto;
}

img {
  display: inline-block;
  width: 320px;
  margin: 40px auto 20px;
  overflow: hidden;
  border: 2px solid white;
}

/*CHANGE TO A CLASS SELECTOR- need to use correct syntax*/
/*#img1 {*/
  margin-right: 20px;
}

.instruction-overview {
  /*ADD BORDER-COLOR PROPERTY- should only use border property for all three attributes */
  /*border: 5px solid ***#3366ff;*/
  padding: 15px 30px;
}

li {
  font-family: 'Indie Flower', cursive;
  /*REMOVE THIS LINE- they should remove the list type because there are already FA tags*/
  /*list-style-type: none;*/
  font-size: 16px;
  line-height: 28px;
}

.gif {
  margin: 30px auto;
  width: 400px;
}

.bonus-instructions {
  /*REMOVE 50PX- should give a value to the property*/
  /*padding-bottom: ***50px;*/
}

.bonus-section {
  width: 100%;
  text-align: center;
}

.form-wrapper {
  margin: 0 auto 50px;
  width: 60%;
}

.form-input, .message-header, .message {
  text-align: left;
  font-family: 'Montserrat', Arial, sans-serif;
  color: black;
}

#thank-you {
  text-align: center;
}
